/HelloNode/nbproject/private/
/ASN_LP1MS1/nbproject/private/
/ASN_LP1MS1/build/
/ASN_LP1MS1/dist/
/MRWordCount/nbproject/private/
/MRWordCount/build/
/MRWordCount/dist/
/ASN_LP2/nbproject/private/
/ASN_LP2_Visualizer/nbproject/private/
/ASN_LP2/build/
/ASN_LP2/dist/
/ASN_LP3/nbproject/private/
/TemperatureCollector/nbproject/private/
/TemperatureCollector/build/
/TemperatureCollector/dist/
/TemperatureCollector/target/
/TempSensor/nbproject/private/